@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v5-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v5-latin-ext_latin-700.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/barlow-v5-latin-ext_latin-900.woff2") format("woff2"), url("../fonts/barlow-v5-latin-ext_latin-900.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v10-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v10-latin-ext_latin-900.woff2") format("woff2"), url("../fonts/fraunces-v10-latin-ext_latin-900.woff") format("woff");
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow' ,'Arial' , sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1320px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 45px;
}

.hero__item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__list {
  margin-right: 33px;
}

.hero__list:nth-child(3) {
  margin: 0;
}

.hero__link {
  text-decoration: none;
  color: #83888F;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.hero__link:hover {
  color: #333D4B;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrap .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333D4B;
  width: 1280px;
  height: 125px;
  padding: 48px  85px 48px 85px;
  margin-bottom: 0;
}

.wrap .hero__img {
  margin-right: 103px;
}

.wrap .hero__list:nth-child(3) {
  margin-right: 369px;
}

.wrap .hero__link:hover {
  color: #FEFCF7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrap .hero__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap__item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.wrap__list {
  margin-right: 24px;
}

.wrap__list:nth-child(3) {
  margin: 0;
}

.wrap__svg {
  width: 24px;
  height: 24px;
  fill: #FEFCF7;
}

.wrap__svg:hover {
  fill: #FDD6BA;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.intro {
  background-image: url("../images/Bitmap.png");
  width: 1280px;
  height: 450px;
  border-radius: 10px;
  padding: 134px 86px;
  margin-bottom: 155px;
}

.intro__box {
  width: 445px;
}

.itro__taitl {
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  font-family: Fraunces;
  margin: 0;
  margin-bottom: 32px;
}

.intro__text {
  color: #FEFCF7;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
  margin: 0;
}

.menu {
  background-color: #293038;
  width: 1280px;
  height: 653px;
  padding: 113px 85px 100px;
  margin-bottom: 168px;
}

.menu__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 67px;
}

.menu__span {
  display: block;
  margin-right: 349px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid #0E8784;
}

.menu__spans {
  position: absolute;
  left: 15px;
  top: 15px;
  display: block;
  width: 760px;
  height: 1px;
  border-bottom: 2px solid #FDD6BA;
}

.menu__span:nth-child(4) {
  margin: 0;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__list {
  width: 285px;
  height: 355px;
  margin-right: 95px;
}

.menu__list:nth-child(3) {
  margin: 0;
}

.menu__number {
  width: 90px;
  height: 72px;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  font-family: Fraunces;
  color: #FDD6BA;
  margin-bottom: 38px;
}

.menu__taitl {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  font-family: Fraunces;
  color: #FEFCF7;
  margin-bottom: 43px;
}

.menu__text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

.type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 168px;
}

.type__item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 125px;
}

.type__lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type__link {
  text-decoration: none;
}

.type__lead:hover > .type__span {
  color: #0E8784;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.type__lead:hover > .type__text {
  color: #333D4B;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.type__span {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #B2B5B6;
  font-family: Fraunces;
  margin-right: 28px;
  margin-bottom: 24px;
}

.type__text {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #B2B5B6;
  font-family: Fraunces;
  margin-bottom: 24px;
}

.type__line {
  display: block;
  width: 255px;
  height: 1px;
  border-bottom: 1px solid #83888F;
  opacity: 0.6;
  margin-bottom: 24px;
}

.middil__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
  padding-right: 20px;
}

.middil__box:hover > .middil__img {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.middil__box:hover > .middil__taitl {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.middil__taitl {
  margin: 0;
  margin-right: 90px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
}

.middil__taitl:hover {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.middil__label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middil__label {
  margin-right: 22px;
  margin-bottom: 88px;
}

.middil__span {
  width: 228px;
  height: 250px;
  padding: 32px 28px;
  background-color: #F4F1EB;
  border-radius: 10px;
}

.middil__span:hover {
  background-color: #FDD6BA;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.visually-hidden:checked ~ .middil__span {
  background: #0E8784;
  color: #FEFCF7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.visually-hidden:checked ~ .middil__span > .middil__lead {
  color: #FEFCF7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.visually-hidden:checked ~ .middil__span > .middil__text {
  color: #FEFCF7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.middil__lead {
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  font-family: Fraunces;
}

.middil__text {
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  opacity: 0.8;
}

.box {
  margin-bottom: 88px;
}

.middil__order {
  width: 730px;
  height: 208px;
  background-color: #282E38;
  border-radius: 10px;
  padding: 47px 64px;
  margin-bottom: 40px;
}

.middil__summary {
  font-size: 16px;
  line-height: 26px;
  color: #ffff;
  opacity: 0.5;
}

.middil__drink {
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFF;
  font-family: Fraunces;
}

.middil__collor {
  color: #0E8784;
}

.middil__button {
  width: 217px;
  height: 56px;
  padding: 16px 36px;
  color: #fff;
  background-color: #0E8784;
  font-family: Fraunces;
  border-radius: 10px;
  border: none;
  margin-left: 515px;
}

.middil__button:hover {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/*# sourceMappingURL=main.css.map */